.text-red{color:red}

.text-blue{color:blue}

.text-green{text:green}

.text-yellow{text:yellow}

.text-orange{text:orange}

.text-purple{text:purple}

.text-pink{text:pink}

.text-grey{text:grey}

.text-black{text:black}

.text-brown{text:brown}

.text-white{text:white}

.bg-red{
background:red;
padding:2px;
}

.bg-blue{
background:blue;
padding:2px;
}

.bg-green{
background:green;
padding:2px;
}

.bg-yellow{
background:yellow;
padding:2px;
}

.bg-orange{
background:orange;
padding:2px;
}

.bg-purple{
background:purple;
padding:2px
}

.bg-pink{
background:pink;
padding:2px;
}

.bg-grey{
background:grey;
padding:2px;
}

.bg-black{
background:black;
padding:2px;
}

.bg-brown{
background:brown;
padding:2px;
}

.bg-white{
background:white;
padding:2px;
}

.center{text-align:center}

.right{text-align:right}

.size-big{font-size:50px}

a{text-decoration:none}
