.center{text-align:center}

.size-big{font-size:50px}

.dirlink{text-decoration:none}

.dirlink:hover{
  text-decoration:underline;
  color:#104A9F;
}

.btn-grad {
background-image: linear-gradient(to right, #2ddc66 0%, #50daFF  51%, #2ddc66  100%);
margin: 1px;
height:30px;
width:15%;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
text-align:left;
}

.btn-grad:hover {
background-position: right center;
color: #fff;
text-decoration: none;
cursor:pointer;
}
