.center{text-align:center}

.size-big{font-size:50px}

a{text-decoration:none}

.btn-grad {
background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
margin: 1px;
height:30px;
width:15%;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
text-align:left;
}

.btn-grad:hover {
background-position: right center;
color: #fff;
text-decoration: none;
cursor:pointer;
}
